@import 'icons/icons.css';

/* Global css for all screens */

nav ul {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0;
	list-style: none;
	font-size: 1.5em;
	font-weight: 300;
}

nav li span {
	display: block;
}

nav a {
	display: block;
	color: rgba(249, 249, 249, .9);
	text-decoration: none;
	transition: color .5s, background .5s, height .5s;
}

a, button {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* Very coll trick to change just one css item hover */
.no-touch .nav ul:hover a {
	color: rgba(249, 249, 249, .5);
}
.no-touch .nav ul:hover a:hover {
	color: rgba(249, 249, 249, 0.99);
}

.nav li:nth-child(6n+1) {
	background: rgb(208, 101, 3);
}

.nav li:nth-child(6n+2) {
	background: rgb(233, 147, 26);
}

.nav li:nth-child(6n+3) {
	background: rgb(22, 145, 190);
}

.nav li:nth-child(6n+4) {
	background: rgb(22, 107, 162);
}

.nav li:nth-child(6n+5) {
	background: rgb(27, 54, 71);
}

.nav li:nth-child(6n+6) {
	background: rgb(21, 40, 54);
}

/* Media query for 800px width */
@media (min-width: 50em) {

	/* Transforms the list into a horizontal navigation */
	.nav li {
		float: left;
		width: 16.66666666666667%;
		text-align: center;
		transition: border .5s;
	}

	nav a {
		display: block;
		width: auto;
	}
	/* hover, focused and active effects that add a little colored border to the different items */

	.no-touch .nav li:nth-child(6n+1) a:hover,
	.no-touch .nav li:nth-child(6n+1) a:active,
	.no-touch .nav li:nth-child(6n+1) a:focus
	{
		border-bottom: 4px solid rgb(174, 78, 1);
	}

	.no-touch .nav li:nth-child(6n+2) a:hover,
	.no-touch .nav li:nth-child(6n+2) a:active,
	.no-touch .nav li:nth-child(6n+2) a:focus {
		border-bottom: 4px solid rgb(191, 117, 20);
	}

	.no-touch .nav li:nth-child(6n+3) a:hover,
	.no-touch .nav li:nth-child(6n+3) a:active,
	.no-touch .nav li:nth-child(6n+3) a:focus {
		border-bottom: 4px solid rgb(12, 110, 149);
	}

	.no-touch .nav li:nth-child(6n+4) a:hover,
	.no-touch .nav li:nth-child(6n+4) a:active,
	.no-touch .nav li:nth-child(6n+4) a:focus {
		border-bottom: 4px solid rgb(10, 75, 117);
	}

	.no-touch .nav li:nth-child(6n+5) a:hover,
	.no-touch .nav li:nth-child(6n+5) a:active,
	.no-touch .nav li:nth-child(6n+5) a:focus {
		border-bottom: 4px solid rgb(16, 34, 44);
	}

	.no-touch .nav li:nth-child(6n+6) a:hover,
	.no-touch .nav li:nth-child(6n+6) a:active,
	.no-touch .nav li:nth-child(6n+6) a:focus {
		border-bottom: 4px solid rgb(9, 18, 25);
	}

	.icon {
		padding-top: 1.4em;
	}
	.icon + span {
		margin-top: 2.1em;
		transition: margin .5s;
	}

	nav a {
		height: 9em;
	}

	nav a:hover,
	nav a:active,
	nav a:focus
	{
		height: 10em;
	}

	.no-touch .nav a:hover .icon + span {
		margin-top: 3.2em;
		transition: margin .5s;
	}

	nav i {
		position: relative;
		display: inline-block;
		margin: 0 auto;
		padding: 0.4em;
		border-radius: 50%;
		font-style: 1.8em;
		box-shadow: 0 0 0 0.8em transparent;
		background: rgba(255,255,255,0.1);
		transform: translate3d(0, 0, 0);
		transition: box-shadow .6s ease-in-out;
	}

	.no-touch a:hover i.
	.no-touch a:active i.
	.no-touch a:focus i
	{
		/*box-shadow: 0 0 0 0 rgb(255,255,255,0.2);*/
	}
}

/* Screen between 800 and 980px: */
@media (min-width: 50em) and (max-width: 61.250em) {
	
	.nav ul {
		font-size: 1.2em;
	}
}

/* The "tablet" and "mobile" version */
@media (max-width: 49.938em) {

	.no-touch .nav ul li:nth-child(6n+1) a:hover,
	.no-touch .nav ul li:nth-child(6n+1) a:active,
	.no-touch .nav ul li:nth-child(6n+1) a:focus
	{
		background: rgb(227, 119, 20);
	}

	.no-touch .nav ul li:nth-child(6n+2) a:hover,
	.no-touch .nav ul li:nth-child(6n+2) a:active,
	.no-touch .nav ul li:nth-child(6n+2) a:focus
	{
		background: rgb(245, 160, 41);
	}

	.no-touch .nav ul li:nth-child(6n+3) a:hover,
	.no-touch .nav ul li:nth-child(6n+3) a:active,
	.no-touch .nav ul li:nth-child(6n+3) a:focus
	{
		background: rgb(44, 168, 219);
	}

	.no-touch .nav ul li:nth-child(6n+4) a:hover,
	.no-touch .nav ul li:nth-child(6n+4) a:active,
	.no-touch .nav ul li:nth-child(6n+4) a:focus
	{
		background: rgb(31, 120, 176);
	}

	.no-touch .nav ul li:nth-child(6n+5) a:hover,
	.no-touch .nav ul li:nth-child(6n+5) a:active,
	.no-touch .nav ul li:nth-child(6n+5) a:focus
	{
		background: rgb(39, 70, 90);
	}

	.no-touch .nav ul li:nth-child(6n+6) a:hover,
	.no-touch .nav ul li:nth-child(6n+6) a:active,
	.no-touch .nav ul li:nth-child(6n+6) a:focus
	{
		background: rgb(32, 54, 68);
	}

	.nav ul li {
		transition: .5s;
	}
}

/* CSS for a 2x3 columns version */
/*size between 520px (32.5em) and 799px (49.938em)*/
@media (min-width: 32.5em) and (max-width: 49.939em) {
	
	.nav li {
		display: block;
		float: left;
		width: 50%;
	}
	
	.nav a {
		padding: 0.8em;
	}

	.nav li span,
	.nav li span.icon {
		display: inline-block;
	}

	.nav li span.icon {
		width: 50%;
	}

	.nav li .icon + span {
		font-size: 1em;
	}

	.icon + span {
		position: relative;
		top: -0.2em;
	}

	.nav li i {
		display: inline-block;
		padding: 8% 9%;
		border: 4px solid transparent;
		border-radius: 50%;
		font-size: 1em;
		background: rgba(255,255,255,0.1); /*  This is like a white but it has opacity */
	}

	.no-touch .nav li:hover i,
	.no-touch .nav li:active i,
	.no-touch .nav li:focus i
	{
		border: 4px solid rgba(255,255,255,0.1);
	}
}

/* Adapting the font size and width for smaller screns*/
@media (min-width: 32.5em) and (max-width: 38.688em){

	.nav li span.icon {
		width: 50%;
	}

	.nav li .icon + span {
		font-size: 0.9em;
	}
}

/* Styling the toggle menu link and hiding it */
.nav .navtoogle {
	display: none;
	width: 100%;
	padding: 0.5em 0.5em 0.8em;
	font-family: 'Lato';
	font-weight: normal;
	text-align: left;
	color: rgb(7, 16, 15);
	font-size: 1.2em;
	background: none;
	border: none;
	border-bottom: 4px solid rgb(221, 221, 221);
	cursor: pointer;
}

.icon-menu {
	position: relative;
	top: 3px;
	line-height: 0;
	font-size: 1.6em;
}

@media (max-width: 32.438em) {
	
	.nav .navtoogle {
		margin: 0;
		display: block;
	}
	.no-js .nav ul {
		max-height: 30em;
		overflow: hidden;
	}
	.js .nav ul {
		max-height: 0em;
		overflow: hidden;
	}
}